<div class="row">
  <div class="col-lg-8">
    <app-card title="Diagrama FTE">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select placeholder="Seleccione Compañia" [formControl]="form.controls['company']">
              <mat-option *ngFor="let c of companies" [value]="c.id" (onSelectionChange)="setItem(c.id)">
                {{ c.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-select placeholder="Seleccione Contracto" [formControl]="form.controls['contract']">
              <mat-option *ngFor="let c of contracts" [value]="c.id" (onSelectionChange)="loadGraphic(c.id)">
                {{ c.cod_contract }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"></canvas>
    </app-card>
  </div>

  <div class="col-lg-4">
    <app-card title="Development">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"></canvas>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <app-card [title]="'Users'">
      <mat-list>
        <mat-list-item *ngFor="let message of messages">
          <img mat-list-avatar src="{{ message.avatar }}" width="40" height="40" alt="">
          <h3 mat-line class="h3">{{ message.from }}</h3>
          <p mat-line><i>
            <span>{{message.subject}}</span>
            <span> — {{ message.content }}</span>
          </i></p>
        </mat-list-item>
      </mat-list>
    </app-card>
  </div>

  <div class="col-lg-6">
    <app-card [title]="'To do list'">
      <mat-list>
        <mat-list-item *ngFor="let folder of folders">
          <mat-icon mat-list-avatar>{{folder.icon}}<app-badge *ngIf="folder.badge" [color]="'danger'" [position]="'top-right'">{{folder.badge}}</app-badge></mat-icon>
          <h4 mat-line>{{folder.name}}</h4>
          <p mat-line><i>{{folder.updated}}</i></p>
        </mat-list-item>
      </mat-list>
    </app-card>
  </div>
</div>

<app-card title="Last uploaded files" class="mb-0">
  <app-file [type]="'jpg'" [title]="'bulb'" [image]="'assets/content/file-1.jpg'"></app-file>
  <app-file [type]="'doc'" [title]="'resume'"></app-file>
  <app-file [type]="'jpg'" [title]="'main-image'" [image]="'assets/content/file-2.jpg'"></app-file>
  <app-file [type]="'jpg'" [title]="'watch'" [image]="'assets/content/file-3.jpg'"></app-file>
  <app-file [type]="'jpg'" [title]="'camera'" [image]="'assets/content/file-4.jpg'"></app-file>
  <app-file [type]="'pdf'" [title]="'documentation'"></app-file>
  <app-file [type]="'mp4'" [title]="'video-tutorial'"></app-file>
  <app-file [type]="'jpg'" [title]="'best-work'" [image]="'assets/content/file.jpg'"></app-file>
  <app-file [type]="'jpg'" [title]="'smart'" [image]="'assets/content/file-5.jpg'"></app-file>
  <app-file [type]="'zip'" [title]="'theme'"></app-file>
</app-card>
